- flash.each do |type, message|
  - box_style = type == 'success' ? 'success' : 'alert' 
  .alert-box{:class => "#{box_style}", :data => { :alert => true } }
    = message
    %a.close{href: '#'} &times;

.center-column-content
  = yield